parameters:
  level: max
  paths:
    - src
  bootstrapFiles:
    # Fix class not found errors for PhpCsFixer
    - vendor/symplify/easy-coding-standard/vendor/autoload.php

  ignoreErrors:
    -
        message: '#The command is missing \$this->setName\("\.\.\."\) in configure\(\) method#'
        paths:
            - src/Command/ExportMetadataCommand.php
            - src/Command/ShuffleCollectionCommand.php

includes:
  ##- vendor/symplify/phpstan-rules/config/array-rules.neon
  #- vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
  ##- vendor/symplify/phpstan-rules/config/doctrine-rules.neon
  ##- vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
  ##- vendor/symplify/phpstan-rules/config/naming-rules.neon
  - vendor/symplify/phpstan-rules/config/regex-rules.neon
  - vendor/symplify/phpstan-rules/config/services-rules.neon
  ##- vendor/symplify/phpstan-rules/config/static-rules.neon
  - vendor/symplify/phpstan-rules/config/size-rules.neon
  - vendor/symplify/phpstan-rules/config/string-to-constant-rules.neon
  - vendor/symplify/phpstan-rules/config/symfony-rules.neon
  - vendor/symplify/phpstan-rules/config/test-rules.neon

services:
